/*Navigation bar*/
#MenuItems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(144, 129, 81);
  }
  
  #MenuItems li {
    float: left;
  }
  
  #MenuItems li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 /*Body*/
  body {
    background-color: rgb(168, 196, 141);
  }
/*My work section with image carousel*/
  .MyWork {
    text-align: center;
  }
